/*
Author: shadman khan
date: 2/9/20
file name: styles.css
*/

/* css reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside{
    margin: 0;
    padding: 0;
    border: 0;
}
/* style rules for body and images*/
body {
    background-color: #000
}
img{
    max-width: 100%;
    display: block;
}

/* style rules for box sizing applies to all elements */
*{
    box-sizing: border-box;
}

/* style rules for mobile viewport*/

/* style rules for header*/

header {
   
    top: 0;
    background-color: #000;
    height: 190px;
}
 header img {
     margin: 0 auto;
 }


/* style rules for nav area*/

nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;

}

nav li {
    font-size: 1.5em;
    font-family: 'francois one', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}
/* show mobile class, hide tablet-desktop */
.mobile {
    display: block;
}

.tablet-desktop{
    display: none;
}

/* style rules for main*/

main{
    
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto Slab', sans-serif;

}

.mobile h3{
    text-shadow:  5px 5px 8px #ccc;

}

article {
    padding: 2%;
}

article h3 {
    text-align: center;
}

article img {
    margin: 0 auto;
}

article ul {
    margin-left: 10%;
}

article:nth-of-type(2) {
    background-color: rgba(204, 204, 204, 0.3);
}


.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

.action{
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
    text-shadow:  5px 5px 8px #ccc;

}

.frame {
        position: relative;
        max-width: 450px;
        margin: 2% auto;
}

.pic-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#weights, #cardio, #training{

    margin: 0 2%;
}

.round{
    border-radius: 8px;
}


.external-link{
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

#contact .contact-email-link{
    text-align: center;
}

#contact a{
    color: #666600;
    text-decoration: none;
}

.map{
    border: 2px solid #000 ;
    width: 95%;
    height: 50%;
}
/* style rules for footer*/

footer p{
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer p a{
    color: #fff;
    text-decoration: none;
}

/* media query for tablet viewport */
@media screen and (min-width: 630 px), print {
    /* tablet viewport: show tablet-desktop class, hide mobile class */
    .tabket-desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    
    /*  style rule for header */
    header {
        padding-bottom: 2%;
    }
        /*  tablet style rule for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;

    } 

    nav li:last-child {
        border-right: none;

    }

    nav li a {
        padding: 0.1em 0.75em;
    }
    
        /*  style rule for main content area tablet */
        main ul {
            margin: 0 0 4% 10%;
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
        }

        .pic-text {
            font-size: 1m;
            padding: 10px;

        }

        aside {
            text-align: center;
            font-size: 1.25em;
            font-style: italic;
            font-weight: bold;
            padding: 2%;
            background-color: rgba(204, 204, 204, 0.5);
            box-shadow: 5px 5px 8px #000;
            text-shadow: 5px 5px 5px #b3b3b3;
            border-radius: 0 15px;
        }

        .grid-item4 {
            grid-column: 1 / span 3;
        }

 #excercises{
    
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    background: linear-gradient(to right, #ccc, #fff);
    padding: 1% 2%;
}

#excercises dt{
    font-weight: bold;
}

#excercises dd{
    padding: 0.5% 1% 2% 0;
} 

.tel-num {
    font-size: 1.25em;
}

.map {
    width: 600px;
    height: 450px;
}







}

/* media query for desktop viewport */
@media screen and (min-width: 1015px), print {
/* style rule for header desktop viewport */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0%;
    }
/* style rules for nav area for desktop viewport */
    nav {
        float: right;
        width: 70%;
        padding-bottom: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;

    }
    nav li {
        border: none;
    }

    nav li a {
        padding: o.5em 1em;
    }
nav li a:hover {
    color: black;
    background-color: #fff;
}

    /* style rules for main content for desktop viewport */

        main {
            clear: left;
        }
        
        main h1 {
            font-size: 1.8em;
        }

        article h3 {
            font-size: 1.75em;
        }


        .pic-text {
            font-size: 1.5em;
            padding: 20px;
        }

        .frame {
            opacity: 0.9;
        }

        .frame:hover {
            opacity: 1;
            box-shadow: 8px 8px 10px #808080;
        }

        #weights, #cardio, #training {
            width: 29%;
            float: left;
            margin: 0 2%;


        }

            #excercises {
                clear: left;
            }



}

/* media query for  large desktop viewport */
@media scren and (min-width: 1921px), print {
    #container {
        width: 1920px;
        margin: 0 auto;
    }



}

/* media query for print */

body {
    background-color: #fff;
    color: black;

}